.body {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
}


.hero {
    position: relative;
    height: 100vh;
    overflow: visible;
    z-index: 1;
}

.purple-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, #7c3aed, #4c1d95);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.logo {
    width: 800px;
    height: auto;
    max-width: 800px;
    display: block;
}

.mask-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    clip-path: circle(0% at center);
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logoDark {
    position: absolute;
    width: 800px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0px);
    opacity: 0;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-btn {
    height: 30px;
    width: 120px;
    border-radius: 30px;
    background: #000;
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 0px);
    opacity: 0;
}

.hero-text1 {
    font-size: xx-large;
    font-weight: 700;
}

.hero-text2 {
    font-size: xx-large;
    font-weight: 900;
    color: #7c3aed;
}


.section-2 {
    min-height: 100vh;
    background: transparent;
    position: relative;
    z-index: 2;
}